@media only screen and (min-width: 960px) {
	
	#logo {
		
		margin: 0 10px 0 0;
		
	}
	
	.container {
		
		width: 90%;
		
	}
	
	nav a {
		
		font-size: 22px;

	}
	
	#content {
		
		border-left: 1px solid #eaeaea;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		
	}
	
	.panel {
		
		border-right: 1px solid #eaeaea;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		
	}

}