body {
	
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin: 0;
	font-size: 100%;
	font-weight: 300;
	background: #efefef;
	overflow: hidden;
	
}

header {
	
	position: relative;
	z-index: 9997;
	background: #666;
	border-bottom: 1px solid #ffae00;
	
}

.container {
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: left;
	
}

.hidden {
	
	display: none !important;
	
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffae00;
    font-weight: 400;
    line-height: 34px;
    font-size: 30px;
    margin: 0 0 15px 0;
}

h2 {
    font-family: 'Ubuntu', cursive;
    color: #ffae00;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 15px 0;
}

h3 {
    font-family: 'Ubuntu', cursive;
    color: #ffae00;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 10px 0;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px 0;
}

a {
	
	color: #ffae00;
	
}

label {
	
	display: block;
	width: 100%;
	line-height: 40px;
	font-weight: 700;
	
}

input[type=text] {
	
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	font-weight: 300;
	color: #666;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

textarea {
	
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	font-weight: 300;
	color: #666;
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

#logo {
	
	width: 100%;
	text-align: center;
	
}

#logo a {
	
	display: inline-block;
	margin: 0px auto;
	text-align: left;
	
}

#logo .image {
	
	float: left;
	width: 80px;
	margin: 10px auto;
	
}

#logo .text {
	
	float: left;
	
}

#logo h1 {
	
	margin: 20px 0 0 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	line-height: 30px;
	
}

#logo h2 {
	
	margin: 10px 0 20px 10px;
	font-family: 'Ubuntu', sans-serif;
	color: #efefef;
	font-size: 20px;
	line-height: 20px;
	
}

nav a {
	
	text-decoration: none;
	text-align: center;
	position: relative;
	display: block;
	color: #666;
	background: white;
	font-size: 20px;
	padding: 20px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	
}

nav a:hover {
	
	background-color: #ddd;
	color: #444;
	
}

nav {
	
	display: inline-block;
	float: right;
	width: 100%;
	
}

nav ul {

	display: none;
	float: left;
	width: 100%;

}

nav ul li {
	
	float: left;
	width: 100%;
	text-align: center;
	border-top: 1px solid #ccc;
	
}

nav ul li.selected a {
	
	color: #ffae00;
	
}

nav ul li.selected a:after {
	
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	background: #ffae00;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 9997;
	
}

nav div.search {
	
	display: none;
	position: absolute;
	top: 0;
	float: left;
	width: 600px;
	margin-left: -600px;
	padding: 23px 0 23px 0;
	right: 40px;
	background: white;
	
}

nav div.search input {
	
	width: 100%;
	vertical-align: middle;
	
}

nav a.search {
	
	display: none;
	float: left;
	background: white;
	padding: 34px 20px;
	font-size: 20px;
	
}

nav a.phoneMenu {
	
	border-top: 1px solid #ffae00;
	
}

nav a.phoneMenu:hover {
	
	background: white;
	
}

nav a.phoneMenu:after {
	
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #ccc transparent transparent transparent;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	
}

nav a.phoneMenu.active:after {
	
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ccc transparent;
	
}

nav a.search:hover {
	
	background-color: #ddd;
	
}

nav a.search.cancel {
	
	background: url("../images/Cross.jpg") no-repeat center center;
	
}

section {
	
	clear: both;
	
}

#breadCrumb {
	
	display: none;
	font-size: 16px;
	padding: 0 10px;
	
}

#content {
	
	position: relative;
	width: 100%;
	background: white;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px;
	
}

#content h3 {
	
	padding: 10px 0;
	border-bottom: 1px solid #F5EAD1;
	border-top: 1px solid #F5EAD1;

}

h3.sliderHead {
		
	margin: 0;
	
}

a.headingMore {
	
	float: right;
	font-size: 14px;
	
}

a.headingMore span {
	
	display: none;
	
}

.slider-outer {
	
	position: relative;
	display: block;
	padding: 10px 0;
	width: 100%;
	overflow: hidden;
	
}

.slider-outer a.navigation {
	
	display: none;
	position: absolute;
	z-index: 9996;
	font-size: 30px;
	line-height: 30px;
	top: 50%;
	margin-top: -25px;
	padding: 10px;
	background: white;
	color: black;
	opacity: 0.5;
	
}

.slider-outer a.navigation:hover {
	
	opacity: 1.0;
	
}

a.slider-left {
	
	left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

a.slider-right {
	
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.slider-inner {
	
	width: 500%;
	
}

.proj-list {
	
	display: none;
	width: 20%;
	list-style: none;
	text-align: center;
	
}

.proj-list li {
	
	float: left;
	width: 100%;
	margin: 0;
	padding: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	
}

.proj-list:nth-child(-n+1) {
	
	display: block;
	
}

.proj-list li a {
		
	position: relative;
	display: block;
	border: 5px solid #eaeaea;
	overflow: hidden;
	
}

.proj-list li a span.info {
		
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.5);
	padding: 5px;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;
	
}

aside {
	
	display: block;
	
}

.twitter-timeline {
	
	width: 100% !important;
	
}

.panel {
		
	display: block;
	background: white;
	padding: 20px;		
		
}

.panel h3 {
	
	padding: 10px 0;
	border-bottom: 1px solid #F5EAD1;
	border-top: 1px solid #F5EAD1;
	
}

footer {
	
	display: block;
	font-size: 16px;
	line-height: 16px;
	
}

footer .container {
	
	border-top: 1px solid #ccc;
	text-align: center;
	
}

footer p {
	
	display: inline-block;
	margin: 0;
	margin: 10px;
	
}

#up768 {
	
	display: none;
	
}

.icon {
	
	display: block;
	margin: 0px auto 15px auto;
	background: url("../images/icon_sprite.png") no-repeat top left;
	
}

.contact-input {
	
	width: 100%;
	
}

.required {
	
	color: #ffae00;
	
}

.sprite-about{ background-position: 0 0; width: 39px; height: 41px; } 
.sprite-about_hover{ background-position: 0 -91px; width: 39px; height: 41px; } 
.sprite-blog{ background-position: 0 -182px; width: 41px; height: 41px; } 
.sprite-blog_hover{ background-position: 0 -273px; width: 41px; height: 41px; } 
.sprite-contact{ background-position: 0 -364px; width: 43px; height: 41px; } 
.sprite-contact_hover{ background-position: 0 -455px; width: 43px; height: 41px; } 
.sprite-projects{ background-position: 0 -546px; width: 41px; height: 41px; } 
.sprite-projects_hover{ background-position: 0 -637px; width: 41px; height: 41px; } 